@import "../../../global.scss";

.Suggestion {
    margin-bottom: 30px;
    h1 {
        margin-bottom: 5px;
        font-weight: 400;
        color: $white;
    }
    p {
        font-size: 1.2rem;
        font-weight: 200;
        color: $light_blue;
    }
}

.SuggestionList {
    display: flex;
    flex-direction: row;
}

.SuggestionItem {
    margin: 15px 30px;
    text-align: left;

    img {
        height: 200px;
        width: 200px;
        border-radius: $bit_radius;
        margin-bottom: 10px;
    }

    h3 {
        font-weight: 200;
        color: $white;
    }
    p {
        font-weight: 200;
        color: $light_blue;
    }
}