@import "../../global.scss";

.Topnav {
    // margin-right: auto;
    // margin-left: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.TopNavUpload {
    // margin-left: 30px;
    button {
        border-radius: $bit_radius;
        padding: 13px 25px;
        background: transparent;
        color: $orange;
        border: 1px solid $orange;
    }
}

.TopNavSearch {
    display: flex;
    flex-direction: row;
    border-radius: $bit_radius;
    background-color: $dark_blue;

    input {
        background: transparent;
        color: $light_blue;
        padding: 13px 10px;
        width: 40vw;
        flex-grow: 2;
    }

    select {
        color: $light_blue;
        background: transparent;
        padding: 10px 10px;
    }

    button {
        background: transparent;
        color: $light_blue;
        padding: 11px 15px;
    }
}

.TopNavInfo {
    display: flex;
    align-items: center;

    .BtnIcon {
        font-size: $medium_font;
        margin: 0 10px;
        color: $white;

        &:after {
            position: absolute;
            content: " ";
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: $orange;
        }
    }

    .ProfileInfo {
        padding-left: 25px;
        padding-right: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            padding-right: 10px;
            color: $white;
        }

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .BtnIconDropDown {
            margin-left: 15px;
            color: $white;
        }
    }
}

@media only screen and (max-width: 600px) {
    .Topnav {
        padding-left: 0;
        justify-content: center;
    }
    .TopNavSearch {
        width: 90%;
    }
    .TopNavUpload {
        display: none;
    }
    .TopNavInfo {
        display: none;
    }
}