@import "../../global.scss";

.Navbar, .Navbar-Show {
    position: fixed;
    float: left;
    height: 100vh;
    padding: 30px 35px;
    background-color: $dark_blue;
    
    z-index: 500;
    transition: 0.5s ease-in-out;
}



.NavLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: $white;
    font-size: 40px;
}

.GetProAccount {
    margin-top: 15px;
    padding: $button_padding;
    border-radius: $bit_radius;
    display: block;
    color: $white;
    background-color: $medium_blue;
}

.NavOptions {
    margin: 30px 0;

    h3 {
        font-size: $medium_font;
        color: $white;
        margin-bottom: 10px;
    }

    li {
        font-size: $small_font;
        padding: 15px 0;

        a {
            color: $light_blue;
        }

        span {
            margin-left: 10px;
        }

    }

    li:last-child {
        padding-bottom: 0;
    }


}

.NavSeparator {
    border: 1px solid #34394B;
}
.NavResponsive {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;  
}

.responsive-btn {
    font-size: 1.5rem;
    color: $white;
}

@media only screen and (max-width: 600px) {
    .Navbar {
        overflow-y: scroll;
        margin-left: -300px;
    }

    .Navbar-Show {
        overflow-y: scroll;
        margin-left: 0 !important;
    }

}

@media only screen and (min-width: 600px) {

}