@import '../../global.scss';

.rhap_container {
    position: fixed;
    bottom: 0;
    width: 84% !important;
    border-radius: $bit_radius !important;
    background-color: $dark_blue !important;
}

.rhap_time {
    color: $light_blue !important;
}

.rhap_progress-filled {
    background-color: $orange !important;
}

.rhap_progress-indicator {
    top: -5px !important;
    width: 15px !important;
    height: 15px !important;
    background-color: $orange !important;
}

@media only screen and (max-width: 600px) {
    .rhap_container {
        margin-left: auto;
        margin-right: auto;
        width: 88% !important;
    }
}