// Colors
$black: #09090f;
$gray: #44403f;
$brown: #4f1d11;
$beige: #a98f6a;
$orange: #F87C4B;
$dark_orange: #bb5633;
$bisqui: #dccdbb;
$light_blue: #757c85;
$frosted_blue:#34394B;
$medium_blue: #272C40;
$dark_blue: #1E2337;
$white: #fff;


//Radius
$bit_radius: 5px;
$medium_radius: 7px;
$big_radius: 9px;

//Paddings
$button_padding: 15px 20px;

//Font Size
$small_font: 0.9rem;
$medium_font: 1.3rem;
$big_font: 1.6rem;